.cart-table-wrapper{
overflow:auto;
max-height:350px;
}

.cart-table{
width:100%;
min-width:700px;
border-collapse:collapse;
}

.cart-table thead th{
position:sticky;
top:0;
background:#f1f5f9;
padding:10px;
font-size:12px;
border-bottom:2px solid #ddd;
}

.cart-table td{
padding:8px;
border-bottom:1px solid #eee;
font-size:13px;
}
